<div class="row bg-dark">
    <footer class="footer mt-auto py-10 bg-dark">
        <div class="row mx-4">
            <div class="col-2">

                <ul class="nav flex-column mt-5">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Udemy Businness</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Teach on Udemy</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Get the app</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">About us</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Contact us</a></li>
                </ul>
            </div>
            <div class="col-2">

                <ul class="nav flex-column mt-5"></ul>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Careers</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Blog</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Help and Support</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Affiliate</a></li>

            </div>
            <div class="col-2">
                <h5>Section</h5>
                <ul class="nav flex-column mt-4">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Terms</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Sitemap</a></li>

                </ul>
            </div>
            <div class="container-fluid ">
                <a class="navbar-brand" href="#"><img
                        src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy-inverted.svg" height="50"
                        width="70"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
  