<div class="background mt-5" style="background-color: rgba(128, 128, 128, 0.055);">
    <div class="row">
      <h2 class="card-title" style="color: black;">Featured topics by category</h2>

    </div><br>


    <div class="row">

      <div class="col">
        <h5 class="card-title" style="color: black; margin-left: 18;">Developments</h5>
        <u><a class="nav-link active" aria-current="page" href="#">Python</a></u>
        <p style="margin-left: 18;">30,181,196 students</p>
        <u><a class="nav-link active" aria-current="page" href="#">Web Development</a></u>
        <p style="margin-left: 18;">9,705,951 students</p>
        <u><a class="nav-link active" aria-current="page" href="#">Machine Learning</a></u>
        <p style="margin-left: 18;">6,040,966 students</p>
      </div>

      <div class="col">
        <h5 class="card-title" style="color: black; margin-left: 18;">Business</h5>
        <u><a class="nav-link " href="#">Financial Analysis</a></u>
        <p style="margin-left: 18;">30,181,196 students</p>
        <u><a class="nav-link " href="#">SQL</a></u>
        <p style="margin-left: 18;">4,518,810 students</p>
        <u><a class="nav-link " href="#">PMB</a></u>
        <p style="margin-left: 18;">1,409,529 students</p>

      </div>
      <div class="col">
        <h5 class="card-title" style="color: black; margin-left: 18;">IT and Software</h5>
        <u> <a class="nav-link " href="#">AWS Certification</a></u>
        <p style="margin-left: 18;">4,527,291 students</p>
        <u> <a class="nav-link " href="#">Ethical Hacking</a></u>
        <p style="margin-left: 18;">9,230,964 students</p>
        <u><a class="nav-link " href="#">Cyber Security</a></u>
        <p style="margin-left: 18;">3,317,182 students</p>

      </div>
      <div class="col">
        <h5 class="card-title" style="color: black; margin-left: 18;">Design</h5>
        <u><a class="nav-link " href="#">Photoshop</a></u>
        <p style="margin-left: 18;">9,824,940 students</p>
        <u><a class="nav-link " href="#">Graphic Design</a></u>
        <p style="margin-left: 18;">2,883,126 students</p>
        <u><a class="nav-link " href="#">Drawing</a></u>
        <p style="margin-left: 18;">2,883,126 students</p>
      </div>
      <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-dark" type="button" style="background-color: white; color: black;">Explore
          more tophic</button>

      </div><br>
    </div><br>
  </div>