
<div class="row mt-5">

    <h2 class="card-title" style="color: black;">Top categories</h2>

  </div><br>

  <div class="row mt-3">

    <div class="col">
      <img src="https://s.udemycdn.com/home/top-categories/lohp-category-design-v2.jpg" class="img-thumbnail"
        alt="...">
      <h5 class="card-title" style="color: black;">Design</h5>

    </div>
    <div class="col">
      <img src="https://s.udemycdn.com/home/top-categories/lohp-category-development-v2.jpg"
        class="img-thumbnail" alt="...">
      <h5 class="card-title" style="color: black;">Development</h5>

    </div>
    <div class="col">
      <img src="https://s.udemycdn.com/home/top-categories/lohp-category-marketing-v2.jpg" class="img-thumbnail"
        alt="...">
      <h5 class="card-title" style="color: black;">Marketing</h5>

    </div>
    <div class="col">
      <img src="https://s.udemycdn.com/home/top-categories/lohp-category-it-and-software-v2.jpg"
        class="img-thumbnail" alt="...">
      <h5 class="card-title" style="color: black;">IT and Software</h5>

    </div>

  </div>