<div class="row" style="background-color:rgba(128, 128, 128, 0.103);">
    <div class="col-md-4 fw-bold">
      <i class="bi bi-play-fill"></i>
      Learn in-demand skills with
      over 155,000 video courses
    </div>
    <div class="col-md-4 fw-bold">
      <i class="bi bi-play-fill"></i>
      Choose courses taught by
      real-world experts
    </div>
    <div class="col-md-4 fw-bold">
      <i class="bi bi-play-fill"></i>
      Learn at your own pace, with
      lifetime access on mobile and desktop
    </div>

  </div><br>
