<div class="container">
  <div class="row">
    <app-navi></app-navi>
  </div>
  <div class="row">
    <div class="col">
      <app-middle></app-middle>
    </div>
    <div class="row">
      <div class="col">
        <app-middle-text></app-middle-text>
      </div>
      <div class="row">
        <div class="col">
          <app-category></app-category>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <app-mdtext></app-mdtext>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <app-category2></app-category2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <app-bottom></app-bottom>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <app-bottomcategory></app-bottomcategory>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <app-bottomend></app-bottomend>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <app-footer></app-footer>
        </div>
      </div>

    </div>
    <router-outlet></router-outlet>