
 <div class="row">
  <div class="col">
    <div class="card text-white ">
      <img
        src="https://img-c.udemycdn.com/notices/web_banner/image_udlite/d93015d2-3ec1-48cd-97c6-60eace42b20c.jpg"
        class="card-img " style="height: 400px;" alt="...">
      <div class="card-img-overlay mt-5 mx-4 ">
        <div class="card" style="width: 26rem; height: 300;">
          <div class="card-body">
            <h2 class="card-title fs-1" style="color: black; ">Sale ends today</h2>
            <p class="card-text fs-3"
              style="color: black; font-family:Georgia, 'Times New Roman', Times, serif">Last day to shop our
              Love to Learn Sale to
              get courses starting at just ₺27.99.</p>
              <div class="row " style="width: 400; border-color: black;"></div>


</div>