<div class="row">

    <h2 class="card-title mt-5" style="color: black;">Expand your career opportunities with Python</h2><br>
    <div class="row mt-5">
      <div class="col">
        <div class="card" style="width: 14rem; height: 100; border-style: none;">
          <img src="https://img-c.udemycdn.com/course/240x135/567828_67d0.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Simple to forward excel</h5>
            <p class="card-text">Muhammet Candaş</p>
            <p class="card-text">₺27.99 <del> ₺219.99 </del></p>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="border-style: none;">
          <img src="https://img-c.udemycdn.com/course/240x135/950390_270f_3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Private English lesson</h5>
            <p class="card-text">Serdar Hoca</p>
            <p class="card-text ">₺27.99 <del> ₺219.99 </del></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="border-style: none;">
          <img src="https://img-c.udemycdn.com/course/240x135/903744_8eb2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Microsoft Excel-Excel from beginner</h5>
            <p class="card-text">Kyle pew</p>
            <p class="card-text">₺27.99 <del> ₺219.99 </del></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="border-style: none;">
          <img src="https://img-c.udemycdn.com/course/240x135/629302_8a2d_2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">The complete digital marketing</h5>
            <p class="card-text">Rob percival</p>
            <p class="card-text">₺27.99 <del> ₺219.99 </del></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="border-style: none;">
          <img src="https://img-c.udemycdn.com/course/240x135/692188_9da7_21.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Etik hacker kursu</h5>
            <p class="card-text">Atil samancioğlu</p>
            <p class="card-text">₺27.99 <del> ₺219.99 </del></p>
          </div>
        </div>
      </div>
