<div class="col-md-6">
    <div class="card mb-3" style="width: 1000; border-style: none; margin-top: 100; margin-left: 300;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://s.udemycdn.com/home/non-student-cta/instructor-1x-v3.jpg"
            class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8 ">
          <div class="card-body" style="margin-top: 100;">
            <h5 class="card-title fs-2 ">Become an instructor</h5>
            <p class="card-text">Instructors from around the world teach millions of students on
              Udemy. We provide the tools and skills to teach what you love.</p>
            <div class="d-grid gap-2 d-md-block">
              <button class="btn btn-dark" type="button" style="background-color:black; color: white;">Start
                teaching today
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col" style="background-color: rgba(128, 128, 128, 0.082); margin-top: 50;">
      <h2 style="text-align: center; margin-top: 30;">Her ölçekteki şirket tarafından güvenilir.</h2>
      <div class="col text-center " style="margin-top: 40; margin-bottom: 30;">

        <img height="44px" width="44px" src="https://s.udemycdn.com/partner-logos/v4/apple-dark.svg" alt="...">
        <img height="44px" width="67px" src="https://s.udemycdn.com/partner-logos/v4/box-dark.svg" alt="...">
        <img height="44px" width="44px" src="https://s.udemycdn.com/partner-logos/v4/volkswagen-dark.svg"
          alt="...">
        <img height="44px" width="101px" src="https://s.udemycdn.com/partner-logos/v4/netflix-dark.svg"
          alt="...">
        <img height="44px" width="115px" src="https://s.udemycdn.com/partner-logos/v4/eventbrite-dark.svg"
          alt="...">

      </div>

    </div>

  </div>
  <div class="col-md-6">
    <div class="card mb-3" style="width: 1000; border-style: none; margin-top: 100; margin-left: 300;">
      <div class="row g-0">

        <div class="col-md-8 ">
          <div class="card-body" style="margin-top: 100;">
            <h5 class="card-title fs-2 ">Become an instructor</h5>
            <p class="card-text">Instructors from around the world teach millions of students on
              Udemy. We provide the tools and skills to teach what you love.</p>
            <div class="d-grid gap-2 d-md-block">
              <button class="btn btn-dark" type="button" style="background-color:black; color: white;">Get Udemy
                Business
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <img src="https://s.udemycdn.com/home/non-student-cta/ub-1x-v3.jpg" class="img-fluid rounded-start"
            alt="...">
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-bottom: 30;">
    <div class="col-md-6">
      <div class="card mb-3" style="width: 1000; border-style: none; margin-top: 100; margin-left: 300;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://s.udemycdn.com/home/non-student-cta/transform-1x-v3.jpg"
              class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8 ">
            <div class="card-body" style="margin-top: 100;">
              <h5 class="card-title fs-2 ">Transform your life through education</h5>
              <p class="card-text">Learners around the world are launching new careers, advancing in
                their fields, and enriching their lives.</p>
              <div class="d-grid gap-2 d-md-block">
                <button class="btn btn-dark" type="button" style="background-color:black; color: white;">Find out
                  how
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
