<div class="row ">
    <div class="col mt-5">
        <h2 class="card-title" style="color: black; margin-left: 20;">A broad selection of courses</h2>
        <p class="card-title" style="color: black; margin-left: 20;">Choose from 155,000 online video courses with new
            additions
            published every month</p><br>
    </div>
</div>
<div class="row">
    <div class="col">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" style="color: black;">Python</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#" style="color: black;">Excel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: black;">Web Development</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#" tabindex="-1" aria-disabled="true" style="color: black;">Java
                    Script</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#" style="color: black;">Data Science</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: black;">AWS Certification</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: black;">Drawing</a>
            </li>
        </ul>
    </div>
</div><br>